nfWorkDir="nfwork"

outputDir = "${nfWorkDir}/out"
workDir = "${nfWorkDir}/work"

profiles {
    standard {
        process {
            executor = 'local'
        }
    }
    slurm {
        process {
            executor = 'slurm'
            queue = 'debug'
            //clusterOptions = '--gres=gpu:1'
        }
    }
    
}

trace {
    fields = 'task_id,process,name,status,start,complete,duration,%cpu,peak_rss,hostname'
}

apptainer {
    enabled = true
    autoMounts = true
    runOptions = "--no-home"
}

params {
    petagenomeDir = "${projectDir}/.."
    output = "${nfWorkDir}/out"
    memory = "32"
    threads = 16
    cpus = 1
    random_seed = 0
    publish_output = true
    apptainerRunOptions = apptainer.runOptions
}
