nfWorkDir="nfwork"

outputDir = "${nfWorkDir}/out"
workDir = "${nfWorkDir}/work"

profiles {
    standard {
	params.executor = 'local'
        process {
            executor = 'local'
        }
    }
    slurm {
	params.executor = 'slurm'
        process {
            executor = 'slurm'
            queue = 'stew3'
        }
    }
    sge {
	params.executor = 'sge'
        process {
            executor = 'sge'
        }
    }
}

apptainer {
    enabled = true
    autoMounts = true
    runOptions = "--no-home"
}

params {
    executor = "local"
    petagenomeDir = "${projectDir}/.."
    output = "${nfWorkDir}/out"
    memory = "32"
    threads = 16
    cpus = 1
    random_seed = 0
    publish_output = true
    apptainerRunOptions = apptainer.runOptions
}
