volatileDirTop="/dev/shm/petagenome_pipeline"

outputDir = "${volatileDirTop}/work"
workDir = "${volatileDirTop}/work"

apptainer {
    enabled = true
    autoMounts = true
}

params {
    petagenomeDir = "${projectDir}/.."
    memory = 128
    reads = "*{1,2}.fastq.gz"
    output = "${volatileDirTop}/out"
    threads = 4
    cpus = 1
    random_seed = 0
}
