// Apptainerの設定
apptainer {
    enabled = true // Apptainerを有効にする
    // runOptions = '-B /host/data:/container/data' // オプション（必要に応じて）
}

// プロセスごとのApptainerイメージ指定
process {
    //withName: 'my_process' {
    withName: 'fastp' {
        container = "${projectDir}/../modules/fastp/fastp.sif" // ローカルイメージのパス
        // containerOptions = '--bind /host/data:/container/data' // コンテナオプション
    }
    withName: 'spades' {
        container = "${projectDir}/../modules/spades/spades.sif" // ローカルイメージのパス
        // containerOptions = '--bind /host/data:/container/data' // コンテナオプション
    }
}

// パラメータ設定
params {
    output = 'output'
    threads = 4
}
