nfWorkDir="nfwork"

outputDir = "${nfWorkDir}/out"
workDir = "${nfWorkDir}/work"

apptainer {
    enabled = true
    autoMounts = true
}

params {
    petagenomeDir = "${projectDir}/.."
    output = "${nfWorkDir}/out"
    memory = 32
    threads = 16
    cpus = 1
    random_seed = 0
    publish_output = true
}
